<header>
  <div class="container mb-5 p-md-0">
    <div class="row">
      <div class="col col-md-5 col-lg-4 col-xs-12">
        <a href="/">
          <div class="logo"> HaveFun</div>
        </a>
      </div>
      <div class="col col-md-5 col-xs-12 col-lg-8 search d-md-flex align-items-center ">
        <div class="search-group">
          <i class="fas fa-search"></i>
          <input name="keyword" [(ngModel)]="keyword" #tKeyword="ngModel" type="search" placeholder="Explore your own activities">
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container mb-5 p-md-0">
  <div class="row d-flex flex-column flex-md-row">
    <section class="mr-md-3 mr-lg-5">
      <div class="filter-content">
        <div class="filter-box py-4 px-4">
          <div class="filter-box-title mb-3">Location</div>
          <select class="custom-select" name="zone" [(ngModel)]="zone" #tZone="ngModel">
            <option value=''>請選擇</option>
            <option *ngFor="let item of locationOption; let i = index;">{{item}}</option>
          </select>
        </div>
        <div class="filter-box py-4 px-4">
          <div class="filter-box-title mb-3">票價資訊</div>
          <select class="custom-select" name="ticketInfo" [(ngModel)]="ticketInfo" #tTicketInfo="ngModel">
            <option value=''>請選擇</option>
            <option *ngFor="let item of ticketInfoOptions" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
    </section>
    <section class="col p-0" *ngIf="showAll">
      <div class="filter-info mx-3 mx-md-0">
        <h3 class="mt-4">Showing
          <span class="text-primary">{{showData.length}}</span> results by…</h3>
        <span class="filter-tag mr-2" *ngIf="zone"> {{zone}}
          <i class="far fa-times-circle ml-2" (click)="zone=''"></i>
        </span>
        <span class="filter-tag mr-2" *ngIf="ticketInfo"> {{ticketInfo}}
          <i class="far fa-times-circle ml-2" (click)="ticketInfo=''"></i>
        </span>
        <span class="filter-tag mr-2" *ngIf="keyword"> {{keyword}}
          <i class="far fa-times-circle ml-2" (click)="keyword=''"></i>
        </span>
      </div>
      <div class="view-list mx-3 mt-4 mx-md-0 mr-md-3 d-flex flex-column flex-lg-row" *ngFor="let data of showData" (click)="showDetail(data)">
        <div class="view-img" [style.backgroundImage]="'url('+ data.Picture1 +')'"></div>
        <!-- <div class="view-img" style="background: url(https://picsum.photos/644/352/?random)"></div> -->
        <div class="view-info px-3 py-3 d-flex flex-column text-overflow">
          <h4 class="text-primary font-weight-bold my-2">{{data.Name}}</h4>
          <p class="info-content">{{ (data.Description.length>60)? (data.Description | slice:0:60)+'..':(data.Description) }}</p>
          <div class="info-main">
            <i class="fas fa-phone-square mr-2"></i>
            <span class="font-weight-bold mr-3">{{data.Tel}}</span>
            <!-- <span class="info-tag">Entertainment</span> -->
          </div>
          <div class="info-date mt-auto">
            <i class="fas fa-map-marker-alt mr-2"></i>
            <span class="mr-3">{{data.Zone}}</span>
            <i class="far fa-calendar-alt mr-2"></i>
            <span class="mr-3">{{data.Opentime}}</span>
          </div>
        </div>
      </div>
      <div class="mt-4 mx-3 float-right">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of pageCount;let i = index;">
              <a class="page-link" href="#">{{i}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="col p-0" *ngIf="!showAll">
      <nav class=" mx-3 mx-md-0">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item">
            <a href="#" (click)="showDetail()">Explore</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{singleData.Name}}</li>
        </ol>
      </nav>
      <div class="view-deatil">
        <div class="embed-responsive embed-responsive-16by9" [style.backgroundImage]="'url('+ singleData.Picture1 +')'"></div>
        <div class="view-article px-5 py-4">
          <h2 class="text-primary font-weight-bold mb-4">{{singleData.Name}}</h2>
          <div class="info-main">
              <i class="fas fa-phone-square mr-2"></i>
            <span class="font-weight-bold mr-3">{{singleData.Tel}}</span>
          </div>
          <div class="info-date mt-3">
            <i class="fas fa-map-marker-alt mr-2"></i>
            <span class="mr-3">{{singleData.Zone}}</span>
            <i class="far fa-calendar-alt mr-2"></i>
            <span class="mr-3">{{singleData.Opentime}}</span>
          </div>
          <p class="mt-3">{{singleData.Description}}</p>
          <div class="text-right">
            <button class="btn btn-primary" (click)="showDetail()">返回</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
